body {
    background-color: #ffcc00;
    color: #0000ff;
    font-family: Comic Sans MS, sans-serif;
}

h1 {
    color: #ff0000;
    text-align: center;
}

marquee {
    background-color: #ff66ff;
    color: #ffffff;
    font-size: 20px;
}

#counter {
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 0 auto;
}
h1 {
    text-shadow: 2px 2px #ff0000;
}
body {
    cursor: url('custom-cursor.cur'), auto;
}
